<div class="widget">
    <h2 class="widget-title">Betul Hakkında</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="upload/tech_blog_02.jpg" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">BEtul KBU den bilgisayar muhendisi mezunu</h5>
                    <span class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
            </a>

</div>
